/* .container {
  padding: 40px;
  display: flex;
  flex-direction: column;
} */

.addDiaryModal {
  --modal-max-w: 334px;
  --modal-padding-y: 48px;
  --modal-padding-x: 20px;
  --modal-overflow: visible;
}

.addDiaryModalTitle {
  margin-bottom: 48px;
  text-align: center;
  font-family: var(--second-family);
  font-weight: var(--fw-medium, 700);
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--color-scheme-text);
}

.addDiaryModalForm {
  display: flex;
  justify-content: center;
  gap: 12px;
}

@media (min-width: 768px) {
  .add-diary-modal {
    --modal-max-w: 704px;
    --modal-padding-y: 64px;
    --modal-padding-x: 32px;
  }
}

@media (min-width: 1440px) {
  .add-diary-modal {
    --modal-max-w: 768px;
    --modal-padding-y: 64px;
    --modal-padding-x: 32px;
  }

  .add-diary-modal__title {
    font-size: 48px;
  }
}
