.defaultCheckbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.labelCheckbox {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    min-height: 28px;
}

.customCheckbox {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--opacity-transparent);
    border-radius: 4px;
    width: 18px;
    height: 18px;
    background-color: var(--opacity-neutral-darkest-5);
    flex-shrink: 0;
    fill: transparent;
    transition: background-color 250ms ease-in-out, fill 250ms ease-in-out;
}

.defaultCheckbox:checked+.labelCheckbox>.customCheckbox {
    width: 19px;
    height: 19px;
    background-color: var(--color-scheme-text);
    fill: var(--color-scheme-background);
}

.defaultCheckbox:checked+.labelCheckbox>.itemText {
    text-decoration: line-through;
    transform:scale(1.1);
    line-height: 150%;

}

.itemText {
    max-width: 256px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    color: var(--color-scheme-text);
    word-break: break-all;
    transition: transform 250ms ease-in-out;
}

@media only screen and (min-width: 1440px) {
    .itemText {
        font-size: 14px;
    }
}