.addTaskForm {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* .addTaskForm.react-datepicker__input-container {
    border: green 3px solid;
} */


.addTaskformGroup {
    display: flex;
    position: relative;
    flex-direction: column;
}

.addTaskformGroup label {
    margin-bottom: 8px;
    line-height: 1.5;
}

.input {
    margin-bottom: 24px;
    padding: 8px 12px;
    width: 100%;
    max-width: 295px;
    height: 37px;
    font-size: var(--fz-14);
    border: 2px solid var(--opacity-transparent);
    border-radius: 12px;
    background-color: var(--opacity-neutral-darkest-5);
    resize: none;
    transition: border-color 250ms ease-in-out;
}

.input::placeholder {
    font-size: var(--fz-14);
    font-weight: var(--fw-medium);
    color: var(--opacity-neutral-darkest-60);
}

.input:active::placeholder {
    color: var(--color-neutral-darkest);
}

.input:focus {
    border: 2px solid var(--color-pastel-pink);
}

.input:invalid {
    border: 1px solid var(--color-red);
}

.input:invalid::placeholder {
    color: var(--color-red);
}

.actions {
    display: flex;
    justify-content: center;
}

.addTaskFormButton {
    max-width: 295px;
    height: 42px;
}