.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  margin-bottom: 24px;
}

.field-set {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  position: relative;
}

.field-set label {
  margin-bottom: 8px;
  line-height: 1.5;
}

.input {
  border-radius: 12px;
  border: none;
  box-shadow: inset 0 0 0 0 var(--color-pastel-pink);
  padding: 8px 12px;
  background-color: var(--opacity-neutral-darkest-5);

  transition: box-shadow 250ms ease-in-out;
}

.input::placeholder {
  color: var(--opacity-neutral-darkest-60);
}

.input:focus,
.input:hover,
.input:active {
  box-shadow: inset 0 0 0 2px var(--color-pastel-pink);
}

.input-error {
  color: var(--color-red);
  box-shadow: inset 0 0 0 2px var(--color-red);
}

.input-error.input::placeholder {
  color: var(--color-red);
}

.span {
  position: absolute;
  top: calc(100%);
  color: var(--color-red);
}

.form .button {
  height: 42px;

  font-family: var(--font-family), sans-serif;
}

@media only screen and (min-width: 768px) {
  .form {
    width: 480px;
  }
}

@media only screen and (min-width: 1440px) {
  .field-set label {
    font-size: 16px;
  }

  .input {
    font-size: 16px;
  }
}
