.addTaskModal {
    --modal-max-w: 335px;
    --modal-padding-y: 64px;
    --modal-padding-x: 20px;
    --modal-overflow: visible;
}


.addTaskModalTitle {
    margin-bottom: 48px;
    text-align: center;
    font-family: var(--second-family, 'Comfortaa', sans-serif);
    font-weight: var(--fw-medium, 700);
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: var(--color-scheme-text);
}

.addTaskModalForm {
    display: flex;
    justify-content: center;
    gap: 12px;
}


@media (min-width: 768px) {
    .addTaskModal {
        --modal-max-w: 704px;
        --modal-padding-y: 64px;
        --modal-padding-x: 32px;
    }
}

@media (min-width: 1440px) {
    .addTaskModal {
        --modal-max-w: 704px;
        --modal-padding-y: 64px;
        --modal-padding-x: 32px;
    }

    .addTaskModalTitle {
        font-size: 48px;
    }
}