.container {
  padding: 24px;
}

.header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 24px;
}

.addBtn {
  border-radius: 100px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;

  background: var(--color-scheme-foreground-alt);
  border-bottom: 4px solid var(--color-scheme-accent);

  font-weight: 600;
}

.addBtn:hover {
  opacity: 0.9;
}
