/* .genderWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.control {
  border: 1px solid var(--opacity-transparent);
  border-radius: 12px;
  width: 480px;
  height: 40px;
  padding: 8px 12px;
  background-color: var(--color-neutral-lightest);
}

.controlOpen {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 12px 12px 0 0;
  width: 480px;
  height: 40px;
  padding: 8px 12px;
  background-color: var(--color-neutral-lightest);
}

.placeholder {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: var(--color-neutral);
}

.indicatorSeparator {
  display: none;
}

.menu {
  border: 1px solid var(--opacity-neutral-darkest-15);
  border-radius: 0 0 12px 12px;
  padding: 8px 0px;
  width: 480px;
  height: 226px;
  background-color: var(--color-neutral-lightest);
}

.optionFocused {
  background-color: var(--opacity-neutral-darkest-5);
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 12px;
}

.menuList {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.arrowUp {
  transform: rotate(180deg);
  transition: transform 0.2s;
  color: var(--color-neutral);
}

.arrowDown {
  transform: rotate(0deg);
  transition: transform 0.2s;
  color: var(--color-neutral);
}

.singleValue {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.option {
  padding: 8px 12px;
  cursor: pointer;
}

.placeholderOpen {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: var(--color-neutral-darkest);
} */
