.page {
  display: flex;
  justify-content: center;
  padding: 16px;
  width: 100%;
  min-height: 100%;
}

.theme-boy {
  --color-scheme-foreground: var(--color-french-pass-lighter);
  --color-scheme-foreground-alt: var(--color-french-pass-light);
  --color-scheme-accent: var(--color-french-pass);
  --color-scheme-hover: var(--color-french-pass-light);
}

.theme-girl {
  --color-scheme-foreground: var(--color-pastel-pink-lighter);
  --color-scheme-foreground-alt: var(--color-pastel-pink-light);
  --color-scheme-accent: var(--color-pastel-pink);
  --color-scheme-hover: var(--color-pastel-pink-light);
}

.theme-default {
  --color-scheme-foreground: var(--color-oasis-lighter);
  --color-scheme-foreground-alt: var(--color-oasis-light);
  --color-scheme-accent: var(--color-oasis);
  --color-scheme-hover: var(--color-oasis-light);
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 335px;
}

.loading {
  padding: 40px 16px;
  text-align: center;
  font-size: 14px;
  color: var(--opacity-neutral-darkest-40);
}

.entryWrapper {
  width: 335px;
}

@media (min-width: 768px) {
  .page {
    padding: 24px;
  }

  .inner,
  .entryWrapper {
    width: 704px;
  }
}

@media (min-width: 1440px) {
  .page {
    display: none;
  }
}
