.user_bar_container {
  display: flex;
  justify-content: space-between;
}

.user_bar_info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatar {
  height: 40px;
}

.userbar_info_user {
  display: flex;
  flex-direction: column;
}

.userbar_logout_btn {
  padding: 8px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 50%;
  transition:
    background-color 0.3s ease-in-out,
    border-radius 0.3s ease-in-out;
}

.userbar_logout_btn:hover {
  background-color: var(--opacity-neutral-darkest-5);
}

.userbar_username {
  font-weight: var(--fw-medium);
}

.userbar_username,
.userbar_useremail {
  font-size: 12px;
  line-height: 1.6;
}

@media screen and (min-width: 1440px) {
  .userbar_username,
  .userbar_useremail {
    font-size: var(--fz-14);
  }
}
