.page {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

.theme-boy {
  --color-scheme-foreground: var(--color-french-pass-lighter);
  --color-scheme-foreground-alt: var(--color-french-pass-light);
  --color-scheme-accent: var(--color-french-pass);
  --color-scheme-hover: var(--color-french-pass-light);
}

.theme-girl {
  --color-scheme-foreground: var(--color-pastel-pink-lighter);
  --color-scheme-foreground-alt: var(--color-pastel-pink-light);
  --color-scheme-accent: var(--color-pastel-pink);
  --color-scheme-hover: var(--color-pastel-pink-light);
}

.theme-default {
  --color-scheme-foreground: var(--color-oasis-lighter);
  --color-scheme-foreground-alt: var(--color-oasis-light);
  --color-scheme-accent: var(--color-oasis);
  --color-scheme-hover: var(--color-oasis-light);
}

.loading {
  font-size: 14px;
  color: var(--opacity-neutral-darkest-40);
  text-align: center;
  padding: 40px 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 32px;
}

.detailsWrapper {
  display: none;
}

@media (min-width: 1440px) {
  .content {
    flex-direction: row;
    align-items: flex-start;
    gap: 32px;
  }

  .detailsWrapper {
    display: block;
    flex: 1;
    max-width: 643px;
    min-width: 0;
  }
}
