.feelingCheckCardBox {
    border: 0px solid var(--color-scheme-border);
    border-radius: 32px;
    padding: 24px;
    width: 335px;
    margin: 0 0 32px 0;
}

.feelingCheckCardBox.theme-boy {
    background-color: var(--color-french-pass-lighter);
}

.feelingCheckCardBox.theme-girl {
    background-color: var(--color-pastel-pink-lighter);
}

.feelingCheckCardBox.theme-default {
    background-color: var(--color-oasis-lighter);
}

.feelingSubtitle { 
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    color: var(--color-scheme-text);
    margin-top: 8px;
}

.feelingText {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-scheme-text);
    margin-bottom: 24px;
}

.feelingBtn {
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: var(--color-scheme-text);
}


@media only screen and (min-width: 768px) {
    .feelingCheckCardBox {
        width: 704px;
        margin: 0 0 32px 0;
    }
}

@media only screen and (min-width: 1440px) {
    .feelingCheckCardBox {
        width: 390px;
        height: 210px;
        margin: 0 0 32px 0;
        overflow: auto;
    }

    .feelingSubtitle {
        font-size: 16px;
    }

    .feelingText {
        font-size: 16px;
    }
}

