.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.content {
  display: flex;
  flex-direction: column;
}

.loader,
.empty,
.error {
  padding: 40px 24px;
  text-align: center;
  border-radius: 32px;
  background: var(--color-scheme-foreground);
  color: var(--color-neutral-dark);
  font-size: 16px;
}

.error {
  color: var(--color-red);
}
