.wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 24px 16px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .wrapper {
    padding: 24px 32px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 8px;
}

.crumb {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 1.6;
  color: var(--color-scheme-text);
}

.crumbActive {
  color: var(--color-neutral);
}

.crumbIcon {
  width: 24px;
  height: 24px;
  color: var(--color-neutral);
  flex-shrink: 0;
}

.title {
  margin: 0;
  font-family: var(--second-family);
  font-size: 32px;
  font-weight: var(--fw-bold);
  line-height: 1.4;
  letter-spacing: 0.32px;
  color: var(--color-scheme-text);
}

@media (max-width: 600px) {
  .title {
    font-size: 26px;
  }
}
