
.taskCardBox {
    border: 0px solid var(--color-scheme-border);
    border-radius: 32px;
    padding: 24px;
    width: 335px;
    /* background-color: var(--color-scheme-foreground); */
    margin: 0 20px 32px 0;
    
}

.taskCardBox.theme-boy {
    background-color: var(--color-french-pass-lighter);
}

.taskCardBox.theme-girl {
    background-color: var(--color-pastel-pink-lighter);
}

.taskCardBox.theme-default {
    background-color: var(--color-oasis-lighter);
}

.taskTitleBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

}

.addTaskBtn {
    border-radius: 100px;
    padding: 8px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    transition: background-color 250ms ease-in-out;
}

.emptyTaskSubTitle {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    color: var(--color-scheme-text);
    margin-bottom: 4px;
} 

.emptyTaskText {
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 16px;
}

.emptyTaskBtn {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: var(--color-scheme-text);
}

.addTaskBtn:hover {
    background-color: var(--color-scheme-accent);
}

@media only screen and (min-width: 768px) {
    .taskCardBox {
        width: 704px;
        margin: 0 32px 32px 0;
    }
}

@media only screen and (min-width: 1440px) {
    .taskCardBox {
        overflow: auto;
        width: 390px;
        height: 498px;
        margin: 16px 32px 32px 0;
    }

    .addTaskBtn:hover {
        background-color: var(--color-scheme-accent);
        animation: addBtnAnimation .5s ease-in-out;
    }
}


@keyframes addBtnAnimation {
    0% {
        transform: translateY(0);
        transform: rotateY(200deg);
    }

    50% {
        transform: translateY(-20px);

    }

    100% {
        transform: translateY(0);
        transform: rotateY(-200deg);
    }
}