.page {
  display: flex;
}

.logo {
  width: 105px;
  height: 45px;
}

.logoLink {
  align-self: flex-start;
  margin-bottom: 72px;
}

.formSide {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.title {
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 32px;
}

.padding {
  padding: 0;
}

.imageSide {
  display: none;
}

@media only screen and (min-width: 768px) {
  .formSide {
    padding: 0 32px;
  }

  .title {
    width: 480px;
  }
}

@media only screen and (min-width: 1440px) {
  .formSide {
    width: 50%;
    padding: 0 64px;
  }

  .title {
    font-size: 48px;
  }

  .imageSide {
    width: 50%;
    display: block;
  }
}
