.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fieldWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.counter {
  display: block;
  right: 20px;
  font-size: 10px;
  color: var(--color-neutral-darkest);
  margin-top: 0;
  text-align: right;
  margin-bottom: 16px;
}

.fieldWrapper label,
.label {
  margin-bottom: 8px;
  font-size: var(--fz-14);
  line-height: 1.5;
}

.input,
.textarea {
  margin-bottom: 24px;
  padding: 8px 12px;
  width: 100%;
  max-width: 295px;
  font-size: var(--fz-14);
  border: none;
  border-radius: 12px;
  background-color: var(--opacity-neutral-darkest-5);
}

.input {
  height: 37px;
}

.textarea {
  height: 250px;
  margin-bottom: 8px;
}

.input::placeholder,
.textarea::placeholder {
  font-size: var(--fz-14);
  font-weight: var(--fw-medium);
  color: var(--opacity-neutral-darkest-60);
}

.error {
  display: block;
  margin-top: -16px;
  margin-bottom: 8px;
  font-size: 12px;
  color: var(--color-red);
}

.actions {
  display: flex;
  justify-content: center;
}

.submitBtn {
  width: 100%;
  max-width: 295px;
  height: 42px;
}

.checkboxMark {
  fill: white;
}

@media (min-width: 768px) {

  .input,
  .textarea {
    min-width: 640px;
    max-width: 100%;
    font-size: var(--fz-16);
  }

  .input::placeholder,
  .textarea::placeholder {
    font-size: var(--fz-16);
  }

  .submitBtn {
    max-width: 268px;
  }
}