*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

p:last-child {
    margin-bottom: 0;
}

ol,
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ol:last-child,
ul:last-child {
    margin-bottom: 0;
}

a {
    color: currentColor;
    text-decoration: none;
    cursor: pointer;
}

input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: none;
}

textarea {
    resize: none;
}

button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: currentColor;
    border: none;
    display: block;
    cursor: pointer;
}

img,
picture,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}